@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --backround-main: #dad8d8;
}

/* reset + font */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Sans-Serif;
}

a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a:hover{
    color: #373c52;
}

body{
    background-color: #aba9a9;
}

/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 80px;
    background-color: var(--backround-main);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .left .logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav .left .links{
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav .buttons{
    display: flex;
    gap: 14px;
}

nav .buttons a{
    background-color: #aba9a9;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    justify-content: center;
    text-align: center;
    gap: 25px;
    background-color: var(--backround-main);
    opacity: 0.8;
    background-image:  radial-gradient(#373c37 0.80px, transparent 0.80px), radial-gradient(#373c37 0.80px, #dad8d8 0.80px);
    background-size: 35px 35px;
    background-position: 0 0,15px 15px;
}

header .info h1{
    font-weight: 900;
    background: var(--backround-main);
}

header .info p{
    color: #666;
    font-size: 18px;
    margin-top: 14px;
    font-weight: bold;
    background: var(--backround-main);
}